// Generic
$primary-color: #d7b07f;
$alt-color: #789c79;
$dark-color: #101010;
$light-color:#e2cfb9;
$hover-color: #e2ddd5;

$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 700;
$title-color: #e2cfb9;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;