@use 'src/styles/vars';
@use 'src/styles/index.scss';

.asset{
    min-height: 92vh;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: vars.$gutter;
    margin-bottom: 3vh;
    margin-left: 4%;
    background-color: vars.$primary-color;
    border: 3px solid vars.$alt-color;
    animation-duration: 2s;
    animation-name: slidein;
    
        &__container{
            box-sizing: border-box;
            display: flex;
            justify-content:flex-start;
            flex-direction:row;
            flex-wrap: wrap;
            border-collapse: collapse;
            margin-left:10%;
            margin-top: vars.$gutter;
            height: 100%;
            border-top: 2px solid vars.$light-color;
            
            &:first-child{
                border-top: none
            }
            
        }

   
    &__content{
        font-size: 1.4rem;
        width: 30%;
        
    }
}

@keyframes slidein {
    from {
      margin-left: 90%;
      width: 95%;
    }
  
    to {
      margin-left: 4%;
      width: 95%;
    }
}

@media screen and (max-width:700px) {

        .asset{
            
            margin-left: 3%;
            min-height: 36vh;
            
            &__content{
        
                font-size: 1rem;
            }
        }
}

@media screen and (max-width:500px) {

    .asset{

        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
        
        &__container{
            
            padding-left: 0;

        }
       
       
    
        &__title{
            font-weight: bold;
            font-size: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
    
        }
    
        &__content{

            font-size: 0.8rem;
            width: 50%;
            
        }
    }

}
