@use 'src/styles/index.scss';
@use 'src/styles/vars';

.contact{
    
    width: 25%;
    text-align: left;
    margin-left:10%;
    align-self: center;
    
 
    &__title{
        font-weight:900;
    }

    &__list{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        font-weight:bold;
        line-height: 1rem;
        margin-top: 0.5rem;
        text-align: left;

        &__icon{
        width: 8%;
        max-width: 2rem;
        text-align: left;
        max-height:1rem ;
        
        }

        &__content{
            font-weight:normal; 
            margin-left: 0.5rem;
            
        }
    }

}

@media screen and (max-width:500px) {
    .contact{
        padding-left: 0;
        width: 100%;
        margin-left: 4rem;
        

        &__title{
            font-size: 1rem; 
            text-align: center; 
            text-transform: uppercase;
            margin-left: -1rem;
        }

        ul{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
    
        }
        
            &__list{
                text-align: left;
                font-size: 1rem;
                line-height: 1rem;
                flex-wrap: nowrap;

                &__icon{

                    width: 1.5rem;
                    max-width: 2rem;
                    max-height: 2rem;
                    }
                &__content{
                    padding-left: 0.3rem;
                }
            }

    }


} 