@use 'src/styles/index.scss';
@use 'src/styles/vars';

.contact{
    width: 30%;
    text-align: left;
    align-self: flex-end;
 
    &__title{
        font-weight:900;
    }

    &__list{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        font-weight:bold;
        line-height: 1rem;
        margin-top: 0.5rem;
        text-align: left;

        &__title{
        width: 100%;
        }

        &__content{
            font-weight:normal; 
            
        }
    }

}

@media screen and (max-width:500px) {
    .contact{
        width: 36%;
        height: 10%;
        align-self: flex-start;
        margin: 0 0 0 0.9rem ;

        &__title{
            font-size: 1rem;  
        }

        ul{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: flex-start;
            
        }
        &__list{
            font-size: 0.8rem;
            line-height: 0.8rem;
        }

    }


} 