
@use 'src/styles/vars';
@use 'src/styles/index.scss';

.experience{
    min-height: 92vh;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: vars.$gutter;
    margin-bottom: 3vh;
    margin-left: 4%;
    background-color: vars.$primary-color;
    border: 3px solid vars.$alt-color;
    transition: 0.2s;
    animation-duration: 2s;
  animation-name: slidein;

        
    &__container{
        box-sizing: border-box;
        display: flex;
        justify-content:center;
        flex-direction:row;
        flex-wrap: wrap;
        border-collapse: collapse;
        //margin-top: vars.$gutter;
        height: 100%;
        border-top: 4px solid vars.$light-color;
        padding-top: 3rem;
        padding-bottom: 2rem;
        
        &:first-child{
            border-top: none
        }
    
    }
}

      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 95%;
        }
      
        to {
          margin-left: 4%;
          width: 95%;
        }
    }

    @media screen and (max-width:700px) {

        .experience{
            min-height: 60vh;
            margin-left: 3%;
            
            &__content{
        
                font-size: 1rem;
            }
        }
}

@media screen and (max-width:500px) {

    .experience{

        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
        
        &__container{
            padding-top: 1.5rem;
            padding-bottom: 0;
            padding-left: 0;

        }
       
    
        &__content{

            font-size: 0.8rem;
            width: 50%;
            
        }
    }

}
