@use 'src/styles/vars';

.links{  
    width: 100%;
    display: flex;
    justify-content: center;
    
    &__list{
        text-align: left;
        line-height: 1.2rem;
        font-weight: 800;
        color: #e2cfb9;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        box-sizing: border-box;
        
        &__icon{
            width: 2rem;
            max-width: 2rem;
            max-height: 2rem;
            margin-left: 0%;
            
        }

        &__link{
            padding-top: 0.5rem;
            font-weight: normal;
            margin-left: 0.5rem;

            
            

            &:hover{
                color: vars.$primary-color;
                
            }

        }

    }

    }

    @media screen and (max-width:1000px) {

    
        .links{  
           
            &__list{
                
                
                &__icon{
                   
                    
                }
        
                &__link{
                    padding-top: 0.3rem;
                }
            }
        }     
    
    }

    @media screen and (max-width:700px) {

    

    }

    @media screen and (max-width:500px) {

        .links{

            width: 100%;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            text-align: center;
            

            &__list{
                
                line-height: 1rem;
                font-weight: 800;
                
                &__link{
                    
                    font-weight: normal;
        
                }
        
            }
        
            }

    }