
@use 'src/styles/vars';

.header{
    margin-top: vars.$gutter;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:space-evenly;

    &__presentation{
        box-sizing: border-box;
        width: 90%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:center;
        margin: auto;
        padding-bottom: vars.$gutter;

        

        
        &__image{
            
            margin-left:1rem;
            width: 100%;
        
        }

        &__title{
            align-self:flex-end;
            width: 45%;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content:flex-start;
            text-align: center;
            font-size: 1.4rem;
            

            &__job{

                color: vars.$title-color;
            }
            &__name{
                
                margin-bottom: 1rem;
            }

            .links{
                font-size:1rem;
                }
        }


        

        
    }

        .header__nav{
            width: 90%;
            margin:auto;
            box-shadow: 0px 10px 13px -7px vars.$primary-color;
            box-sizing: border-box;
            display:flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content:center;
            height:6rem;
            padding-top:2rem;
        
        
        &link {
            
            box-sizing: border-box;
            border-collapse: collapse;
            border-left: 1px solid vars.$primary-color;
            border-right: 1px solid vars.$primary-color;
            padding-left: vars.$gutter;
            padding-right: vars.$gutter;
            text-align: center;
            transition: 0.2s;
            height:60%;
            padding-top:0.3rem;
            font-size: 1.2rem;
            
            &:first-child{
                border-left: none;
            }

            &:last-child{
                border-right: none;
            }

            &:hover {
                
                font-size: 1.4rem;
                color: vars.$primary-color;
                            
                    }

            a {
                margin-top: 3rem;
            }
        }

        
        
        }
        
 }

 @media screen and (max-width:500px) {
 
    .header{
        
        margin-top: 0.5rem;
    
        &__presentation{
        
            width: 100%;
            max-height: 440px;
            margin: 0 0 0  0.5rem;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content:flex-start;
            padding-bottom: 1rem;
    
            &__image{
                margin-top: 0;
            
            }

            &__title{
                margin-top: 1rem;
          text-align:start;
          width: 100%;
          order:3;
          box-sizing: border-box;
          display: flex;
          flex-direction:row;
          flex-wrap: wrap;
          justify-content:center;
                
    
                &__job{
    
                    font-size: 1.2rem;
              width:213px;
              align-self: flex-start;
              text-align: start;
                   
                }
                &__name{
                    
                    font-size: 1.2rem;
                    width: 112px;
                    align-self: flex-end;
                    text-align: end;
                }
    
                .links{
                    font-size: 0.8rem;
                    margin-top: 0.5rem;
                    }
            }
    
    
            
    
            
        }
    
            .header__nav{
                width: 100%;
                margin:auto;
                box-shadow: 0px 10px 13px -7px vars.$primary-color;
                box-sizing: border-box;
                display:flex;
                flex-direction:row;
                flex-wrap: wrap;
                justify-content:center;
                height: 100%;
            
            
                &link {
                    
                    box-sizing: border-box;
                    border-collapse: collapse;
                    border-left: 1px solid vars.$primary-color;
                    border-right: 1px solid vars.$primary-color;
                    padding-left: 0.15rem ;
                    padding-right: 0.15rem;
                    text-align: center;
                    transition: 0.2s;
                    height:60%;
                    padding-top:0.3rem;
                    font-size: 0.7rem;

                    &:hover {
                
                        font-size: 0.7rem;
                        color:vars.$primary-color;
                                    
                            }
                }
    
            
            
            }
            
     }
 }