
@use 'src/styles/vars';

.header{
    padding-top: vars.$gutter;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: vars.$alt-color;

    &__presentation{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        color:vars.$title-color;
        padding-bottom: 2%;
        

        &__portrait{
            order: 2;
            box-sizing: border-box;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content:center;
            width: 49%;
            margin-top: -2rem;

            &__image{
            align-self: center; 
            max-width: 200px;
            
            }

            &__name{
                     

            }

        }

        &__title{
            
            order: 1;
            align-self:flex-start;
            width: 49%;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content:flex-start;
            text-align: left;
            font-size: 4rem;
            font-weight: 900;
            box-sizing: content-box;
            padding-left: 1rem;
            

            }

        


        

        
    }

    .header__nav{
            width: 90%;
            margin:auto;
            box-sizing: border-box;
            display:flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content:center;
            height:6rem;
            padding-top:2rem;
        
        
        &link {
            
            box-sizing: border-box;
            border-collapse: collapse;
            border-left: 1px solid vars.$light-color;
            border-right: 1px solid vars.$light-color;
            padding-left: vars.$gutter;
            padding-right: vars.$gutter;
            text-align: center;
            transition: 0.2s;
            height:60%;
            padding-top:0.3rem;
            font-size: 1.2rem;
            color: vars.$light-color;
            
            
            &:first-child{
                border-left: none;
            }

            &:last-child{
                border-right: none;
            }

            &:hover {
                
                font-size: 1.4rem;
                color: vars.$primary-color;
                            
                    }

            a {
                margin-top: 3rem;
            }
        }

        
        
    }
        
 }

 @media screen and (max-width:1000px) {
    .header__presentation
    {
       &__title{
        //font-size: 3rem;
        }
    }

 }


 @media screen and (max-width:800px) {

    .header__presentation
    {
        &__portrait{
            order: 1;
            width: 100%;
        }
        &__title{
            order:2;
            width: 100%;
            text-align: center;
        }
        &__portrait__name,&__title{
        font-size: 2.5rem;
        }
    }
 }

 @media screen and (max-width:700px) {
   
    .header__presentation__portrait{
        margin-top: -3rem;

        &__name{
            margin-top: -2rem;
        }
    }
    .header__presentation__title{

    }
 }

