
@use 'src/styles/vars';

.header{
    padding-top: vars.$gutter;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: vars.$alt-color;

    &__presentation{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        color:vars.$title-color;
        padding-bottom: 2%;
        

        &__portrait{
            order: 1;
            box-sizing: border-box;
            display: flex;
            align-self:flex-end;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content:center;
            width: 20%;
            margin-left: 3rem;
        

            &__image{
                
            
            }

            &__name{
                    
                margin-top: -7%;
                margin-left: -20%;
            }
            
            .links{
                
                }

        }

        &__title{
            
            order: 2;
            align-self:flex-end;
            width: 40%;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content:flex-start;
            text-align: center;
            font-size: 4rem;
            padding-left: 15%;
            margin-bottom: -1%;
            

            }
            

            

            .contact{
                order:3;
                align-self:flex-end;
                margin-left: 19%;
                }

        


        

        
    }

    .header__nav{
            width: 90%;
            margin:auto;
            box-sizing: border-box;
            display:flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content:center;
            height:6rem;
            padding-top:2rem;
        
        
        &link {
            
            box-sizing: border-box;
            border-collapse: collapse;
            border-left: 1px solid vars.$light-color;
            border-right: 1px solid vars.$light-color;
            padding-left: vars.$gutter;
            padding-right: vars.$gutter;
            text-align: center;
            transition: 0.2s;
            height:60%;
            padding-top:0.3rem;
            font-size: 1.2rem;
            color: vars.$light-color;
            
            
            &:first-child{
                border-left: none;
            }

            &:last-child{
                border-right: none;
            }

            &:hover {
                
                font-size: 1.4rem;
                color: vars.$primary-color;
                            
                    }

            a {
                margin-top: 3rem;
            }
        }

        
        
    }
        
 }

 @media screen and (max-width:1000px) {
    .header__presentation__title{
        padding-left: 0.8rem;
        font-size: 3.5rem;
        
    }

 }


 @media screen and (max-width:850px) {

    .header{
        
        margin-top: -1.5rem;
    
        &__presentation{
        
            
            margin: 0;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content:center;
            padding-bottom: 1rem;
    
            &__portrait{
                order: 2;
                box-sizing: border-box;
                display: flex;
                align-self: flex-end;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                margin-left: 3.5rem;

                &__image{
                    margin-top:-1rem;
                    margin-left: 0;
                    align-self: center;
                }

                &__name{
                    margin-top: -1.7rem;
                    margin-left: -1.4rem;
                }

                .links{
                    width: 13rem;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-self: center;
                    margin-left: 0;
                    

                    &__list{

                        text-align: left;

                    }
                    }
            
            }

            &__title{
                width: 400px;
                order: 1;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 1.5rem;
                margin-left:1rem;
                margin-top: 0.7rem;
                
    
                &__job{
    
                    font-size: 1.2rem;
              width:213px;
              align-self: flex-start;
              text-align: start;
                   
                }
                &__name{
                    
                    font-size: 1.2rem;
                    width: 112px;
                    align-self: flex-end;
                    text-align: end;
                }
    
                
            }
    
    
            
    
            
        }
    
            .header__nav{
                width: 100%;
                margin: -2rem auto auto auto;
                box-shadow: 0px 10px 13px -7px vars.$primary-color;
                box-sizing: border-box;
                display:flex;
                flex-direction:row;
                flex-wrap: wrap;
                justify-content:center;
                height: 100%;
            
            
                &link {
                    
                    box-sizing: border-box;
                    border-collapse: collapse;
                    border-left: 1px solid vars.$primary-color;
                    border-right: 1px solid vars.$primary-color;
                    padding-left: 0.15rem ;
                    padding-right: 0.15rem;
                    text-align: center;
                    transition: 0.2s;
                    height:60%;
                    padding-top:0.3rem;
                    font-size: 0.7rem;

                    &:hover {
                
                        font-size: 0.7rem;
                        color:vars.$primary-color;
                                    
                            }
                }
    
            
            
            }
            
     }
 }




 @media screen and (max-width:500px) {
 
    .header{
        
        margin-top: -1.5rem;
    
        &__presentation{
        
            
            margin: 0;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            
            padding-bottom: 1rem;
    
            &__portrait{
                order: 2;
                box-sizing: border-box;
                display: flex;
                align-self: flex-end;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                margin-left: 3.5rem;

                &__image{
                    margin-top:-1rem;
                    margin-left: -2rem;
                    
                }

                &__name{
                    margin-top: -1.7rem;
                    margin-left: -1.4rem;
                }

                .links{
                    width: 13rem;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-self: center;
                    
                    

                    &__list{

                        text-align: left;

                    }
                    }
            
            }

            &__title{
                width: 400px;
                order: 1;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 1.5rem;
                margin-left:1rem;
                margin-top: 0.7rem;
                
    
                &__job{
    
                    font-size: 1.2rem;
              width:213px;
              align-self: flex-start;
              text-align: start;
                   
                }
                &__name{
                    
                    font-size: 1.2rem;
                    width: 112px;
                    align-self: flex-end;
                    text-align: end;
                }
    
                
            }
    
    
            
    
            
        }
    
            .header__nav{
                width: 100%;
                margin: -2rem auto auto auto;
                box-shadow: 0px 10px 13px -7px vars.$primary-color;
                box-sizing: border-box;
                display:flex;
                flex-direction:row;
                flex-wrap: wrap;
                justify-content:center;
                height: 100%;
            
            
                &link {
                    
                    box-sizing: border-box;
                    border-collapse: collapse;
                    border-left: 1px solid vars.$primary-color;
                    border-right: 1px solid vars.$primary-color;
                    padding-left: 0.15rem ;
                    padding-right: 0.15rem;
                    text-align: center;
                    transition: 0.2s;
                    height:60%;
                    padding-top:0.3rem;
                    font-size: 0.7rem;

                    &:hover {
                
                        font-size: 0.7rem;
                        color:vars.$primary-color;
                                    
                            }
                }
    
            
            
            }
            
     }
 }