@use 'src/styles/vars';

.content{
    min-height: 23rem;
    width: 78%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
     
     
}
.show-menu{
    display: none;
}

.contact{
    width: 100%;
    order:2;
    color: vars.$alt-color;
    }
.loading{
    
    position: absolute;
    width:70%;
    height: 60%;
    background-color: vars.$light-color;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    &__icon{
        
        font-size: 3rem;
        margin-top: 5%;
        animation: rotate-center 2s ease-in-out infinite both;

        }
    &__text{
        font-size: 2rem;
        margin-top: -24%;
        width:100%
    }
}

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

@media screen and (max-width:700px) {
    .content{
       
        width: 73%;


    }
    .desktop-version{
        display: none !important;
    }

    .fixed{
        position: absolute;
        background-color:vars.$primary-color;
        margin-top: 330%;
    }

    .show-menu{
        border: none;
        background: none;
        display: flex;
        position: absolute;
        z-index: 1000;
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
        color: vars.$primary-color;
        margin-top: -3rem;
        
    
    }

    .burger-menu{
        width: 100%;
        height: 100%;
    }
    .content{
       margin-left: 2.5%;
        width: 95%;


}

.loading{
    height: 53%;
}

}

@media screen and (max-width:360px) {

    .show-menu{
        margin-left: 0.2rem;
        width: 2.5rem;
        height: 2.5rem;
        color: vars.$primary-color;
        margin-top: -2.5rem;
    }
}