@use 'src/styles/vars';

.content{
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: -37rem auto 1rem auto; 
     
}


@media screen and (max-width:500px) {

    .content{
        width: 100%;
        margin: -31rem auto 1rem auto; 

}

}