@use 'src/styles/vars';

.content{
    min-height: 23rem;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: -21rem auto 1rem auto; 
     
}


@media screen and (max-width:700px) {

    .content{
       
        width: 95%;


}

}