@use 'src/styles/vars';

nav{
    background-color: vars.$title-color ;
    width: 20%;
    height: 577px;
    position: sticky;
    top: 0;
    border-right: 3px solid vars.$alt-color !important;

    
    .header__nav{
        width: 100%;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content:center;
        padding-top:2rem;


        &link {
            width: 90%;
    box-sizing: border-box;
    border-collapse: collapse;
    /* border-left: 1px solid #e2cfb9; */
    /* border-right: 1px solid #e2cfb9; */
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    transition: 0.2s;
    padding-top: 1.7rem;
    font-size: 1.2rem;
    border-bottom: 2px solid vars.$alt-color;
    margin-left: 0.7rem;
    

            
            
            &:first-child{
                border-left: none;
            }

            &:last-child{
                border-right: none;
            }

            &:hover {
                
                font-size: 1.4rem;
                color: vars.$primary-color;
                            
                    }

            a {
                margin-top: 3rem;
            }
        }
    }
}

@media screen and (max-width:500px) {

    .header__nav{
        width: 100%;
        margin: -2rem auto auto auto;
        box-shadow: 0px 10px 13px -7px vars.$primary-color;
        box-sizing: border-box;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:center;
        height: 100%;
    
    
        &link {
            
            box-sizing: border-box;
            border-collapse: collapse;
            border-left: 1px solid vars.$primary-color;
            border-right: 1px solid vars.$primary-color;
            padding-left: 0.15rem ;
            padding-right: 0.15rem;
            text-align: center;
            transition: 0.2s;
            height:60%;
            padding-top:0.3rem;
            font-size: 0.7rem;

            &:hover {
        
                font-size: 0.7rem;
                color:vars.$primary-color;
                            
                    }
        }

    
    
    }
}