@use 'src/styles/vars';

.post{

    box-sizing: border-box;
    width:  82%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: vars.$gutter auto  vars.$gutter 18%;
    background-color: vars.$title-color;
    border:3px solid vars.$alt-color;
    transition: 0.2s;

    
    &__container{
        box-sizing: border-box;
        display: flex;
        justify-content:flex-start;
        flex-direction:row;
        flex-wrap: wrap;
        border-collapse: collapse;
        border-top: 2px solid vars.$primary-color;
        padding-left: 7rem;
        padding-top: 1rem;
        
    }
   
   

    &__title{
        font-weight: bold;
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    &__content{
        width: 30%;
        font-size: 1.4rem;
        align-self: center;
    }
}

@media screen and (max-width:500px) {

    .post{

        width: 65%;
        margin-left: 8.2rem;
        margin-top:1rem;
        
        &__container{

            padding-left: 0;
        }
       
        &__content{
            
            padding-left: 0.5rem;
            width: 50%;
            font-size: 1rem;
        
        }
    }

}