@use 'src/styles/vars';

.post{

    box-sizing: border-box;
    width:  82%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: vars.$gutter auto  vars.$gutter 18%;
    background-color: vars.$primary-color;
    transition: 0.2s;

    
    &__containerwithdate{
        box-sizing: border-box;
        display: flex;
        justify-content:flex-start;
        flex-direction:row;
        flex-wrap: wrap;
        border-collapse: collapse;
        border-top: 2px solid vars.$light-color;
        padding-left: 7rem;
        padding-top: 1rem;
        
    }
   
   

    &__title{
        font-weight: bold;
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }

    &__content,&__date{
        width: 30%;
        font-size: 1.4rem;
        align-self: center;
    }


}



@media screen and (max-width:700px) {

    .post{
        margin: 2rem auto 2rem 26%;
        &__containerwithdate{
            justify-content: space-between;
            padding-left: 1rem;
        }

        &__content{

        font-size: 1rem;
        }

    }
}





@media screen and (max-width:500px) {

    .post{

        width: 65%;
        margin-left: 8rem;
        margin-top:1rem;
        
        &__containerwithdate{

            padding-left: 0;
            justify-content:center;
            text-align: start;
            
            
        }

        &__content{
            
            padding-left: 0.5rem;
            width: 50%;
            font-size: 1rem;
            text-align: center;
            }
            &__date{
                margin-left: 5.5rem;
                width: 50%;
                font-size: 1rem;
            }
        }
    }

