@use 'src/styles/vars';
    
    .category-title_contenaire{

    margin-top: vars.$gutter ;
    margin-left: 4%;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    background-color: rgba(vars.$alt-color,0.2);
    width: 95%;
    height: 10%;

    }
    .category_title{
        border: none;
        background:none;
        width: 25%;
        font-size: 1.4rem;
        &:hover{
            color: vars.$alt-color;
            font-weight: 700;
            font-size: 1.6rem;
            
            }
            
    
      }

.bolder{
font-size: 1.6rem;
font-weight: 700;
border-bottom: 4px solid vars.$alt-color ;
}

    @keyframes scale-up-center {
        0% {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }
        100% {
          -webkit-transform: scale(1.3);
                  transform: scale(1.3);
        }
    }

@media screen and (max-width:700px) {

        .category_title{

            font-size: 1.1rem;
            &:hover{
                font-size: 1.2rem;
                
                }
                
        
          }
    
    .bolder{
    font-size: 1.2rem;
    }

}

@media screen and (max-width:500px) {
    .category-title_contenaire{
        width: 100%;
        height: 10%;
        margin-left: 0;
        }
        .category_title{
            width: 25%;
            font-size: 0.8rem;
            &:hover{
                font-weight: 700;
                font-size: 0.8rem;
                
                }
          }
    
    .bolder{
    font-size: 0.7rem;
    
    }
}